head
{
	
}

body
{
	
}

p
{
	font-family:Papyrus, fantasy;
	text-align: center;
	font-size:  15px;
	color: black;
	background-color: #F5FFFA
}

h1
{
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	color: rgb(28,85,136);
	font-size: 50px
	
}

h2
{
	font-family: 'Yellowtail', cursive;
	text-align: center;
	color: rgb(35,129,120);
	
}

h3, a:link, a:visited
{
	font-family: 'Lucida Handwriting', cursive;
	text-align: center;
	color: rgb(45,84,119);
	text-decoration: none;
	display: inline-table;
	background-color: #8FBC8F;
	border-radius: 10px;
	padding: 10px;
}

h3, a:hover, a:active
{
	font-family: 'Lucida Handwriting', cursive;
	text-align: center;
	color: #FF7F50;
	text-decoration: none;
	display: inline-table;
	background-color: #8FBC8F;
	border-radius: 15px;
	padding: 15px;
}
}

li
{
	
	font-family:Papyrus, fantasy;
	text-align: center;
	font-size:  15px;
	color: black;
	background-color: #F5FFFA
}